<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>{{name}}</h1>
<a href= "/user/search" >Search</a>
{% block content %}

    <form method="POST" class="post-form">{% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="save btn btn-default">Save</button>
    </form>
{% endblock %}
</body>
</html>


{% if customer_public_routes != null %}
                {% for i in customer_public_routes %}
                <prefix>{{i}}</prefix>
                {% endfor %}
                {% endif %}